* {
  font-family: 'Times New Roman', Times, serif;
}

header {
  background-size: cover; 
background-position: center; 
  background-color: #F9F9F0;
  width: 100%;
}

footer {
background-size: cover; 
background-position: center; 
  background-color: #F9F9F0;
  margin-right: 0px;
}
body {
  background-color: #EBB3A9;
  margin: 0;
}

ul {
  text-align: left;
  color: #F9F9F0;
  line-height: 2;
  top: 2;
}

li {
  display: block;
  font-size: 20px;
}

img {
  display: block;
  width: 300px;
  height:auto;
  margin: 20px;
  border: 30px solid #EE2677;
  border-radius: 100px;
  box-shadow: 0px 0px 20px hotpink;
}

.container{
 display: flex;
  direction: column;
  justify-content: center;
}

.sidenav{
  width: 160px;
  flex-grow: 1;
  background-color:#E86252; 
  color:#F9F9F0;
}

.sidenav a:hover {
  color:#EE2677;
}

.pink{
  background-color: #E87EA1;
  padding:10px;
  border: 5px, solid, #E86252;
  border-radius: 15px;
  box-shadow: 0px 0px 20px hotpink;
}

#Item1{
  background-color: #E87EA1;
  border-radius: 15px;
  border-width: 20px;
  line-height: 1.5;
  max-width: 400px;
  padding: 20px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 5px solid;
  border-color:#E86252; 
  border-radius: 4px; 
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  resize: none; 
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #E86252;
}

/* hover color change */
input[type=submit]:hover {
  background-color:#EE2677;
}

form{
  margin: 20px;
}

main {
  display: flex;
  margin-right: 0px;
}

.page {
  flex-grow: 20;
}

.secret {
  flex-grow: 1;
}